body{
    margin: 0;
    padding: 0;
    text-align: center;
}
.wrapper{
    display: grid;
    height: 200px;
    grid-template-columns: repeat(3, 1fr);
}
.wrapper img{
    width: 200px;
    height: 200px;
}
.karfa{
    width: 100px;
    height: 100px;
}